
<body class="choose">
<a href="javascript:pageLoad('/templateListForDist')">
    <div  style=" margin-top: 30px"  class="chooseq" >
        <img src="images/choose_copy_4.png" style="width: 44px"><br>选择现有模版
    </div>
</a>

<a href="javascript:pageLoad('/chooseMaterialDist')">
    <div class="choosew">
        <img src="images/choose_copu_4_q.png" style="width: 44px"><br>生成新配送订单
    </div>
</a>
</body>

