<div class="setting_copy_2">
    <div><img src="images/wx_q.jpg" style="width: 64px"><br>微信：3354382104</div>
    <div><img src="images/wb.jpg" style="width: 64px"><br>手机：18221180015</div>
    <div><img src="images/web.jpg" style="width: 64px"><br>邮箱：idabaicai@126.com</div>
    <div><img src="images/qq_r.jpg" style="width: 64px"><br>QQ：3354382104</div>
</div>
<% include ../template/bottom.ejs %>

<script>
    document.title = '<%=title%>';
</script>