<ul class="myq" style="margin: 0">
    <li>
        <img src="images/index_q.png">&nbsp;&nbsp;&nbsp;我的订单
    </li>
    <li>
        <div onclick="javascript:pageLoad('/myorder?anchor=0')"><img src="images/index_w.png" style="width: 20px"><br>新订单</div>
        <div onclick="javascript:pageLoad('/myorder?anchor=1')"><img src="images/index_e.png" style="width: 18px"><br>已下单</div>
        <div onclick="javascript:pageLoad('/myorder?anchor=2')"><img src="images/index_r.png"><br>已配送</div>
        <div onclick="javascript:pageLoad('/myorder?anchor=3')"><img src="images/index_t.png"><br>已验收</div>
    </li>
</ul>
<div class="myw" style="width: 100%;margin-top: 0px">
    <!--<div><img src="images/index_u.png" style="width: 35px" onclick="javascript:pageLoad('/myfriend')"><br>我的好友</div>-->
    <% if(userAuth =='1'){ %>
    <div><img src="images/index_i.png" style="width: 40px" onclick="javascript:pageLoad('/queryMechanismByuser?type=0')"><br>我的组员</div>
    <% } %>
    <div class=""><img src="images/index_o.png" style="width: 44px;margin-top: -7px" onclick="javascript:pageLoad('/resContacts')"><br>我的供应商</div>
    <div ><img src="images/index_a.png" style="width: 31px" onclick="javascript:pageLoad('/myTempalte')"><br>我的模板</div>

    <div class=""><img onclick="javascript:pageLoad('/queryMechanismByuser?type=1')" src="images/index_d.png " style="width: 23px"><br>我的餐厅</div>
   <!--
   <div><img src="images/index_s.png" style="width: 25px"><br>我的推荐</div>
    <div ><img src="images/index_f.png" style="width: 35px" onclick="javascript:pageLoad('/getFavMaterial')"><br>我的关注</div>
    <div><img src="images/index_g.png" style="width: 38px" onclick="javascript:pageLoad('/selectMaterialPT')"><br>价格走势</div>
    -->
    <div class=""><img onclick="javascript:pageLoad('/userSetting')" src="images/index_h.png" style="width: 35px"><br>个人设置</div>
    <div><img src="images/index_j.png" style="width: 36px" onclick="javascript:pageLoad('/contactUs')"><br>联系我们</div>
</div>

<% include ../template/bottom.ejs %>

<script>
    document.title = '<%=title%>';
</script>

