<!DOCTYPE html>
<html style="height: 100%">

<head lang="en">
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="initial-scale=1.0, width=device-width" name="viewport">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <!-- css -->
    <link id="q" rel="stylesheet" href="http://7xi34i.com1.z0.glb.clouddn.com/base.min.css?<%=new Date().getTime()%>">
    <link id="w" rel="stylesheet" href="http://7xi34i.com1.z0.glb.clouddn.com/wo.css?<%=new Date().getTime()%>">
    <link id="e" rel="stylesheet" href="http://7xi34i.com1.z0.glb.clouddn.com/swiper.min.css?<%=new Date().getTime()%>">
    <script type="text/javascript">
        if (/iP(hone|od|ad)/.test(navigator.userAgent)) {
            var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/),
                    version = parseInt(v[1], 10);
            if (version >= 8) {
                document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/base.min.css?<%=new Date().getTime()%>">');
                document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/wo.css?<%=new Date().getTime()%>">');
                document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/swiper.min.css?<%=new Date().getTime()%>">');
            } else {
                document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/base_q.min.css?<%=new Date().getTime()%>">');
                document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/wo_q.css?<%=new Date().getTime()%>">');
                document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/swiper_q.min.css?<%=new Date().getTime()%>">');
            }
            var v = (navigator.appVersion).match(/OS (\d+)_(\d+)_?(\d+)?/),
                    version = parseInt(v[1], 10);
        } else {
            document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/base_q.min.css?<%=new Date().getTime()%>">');
            document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/wo_q.css?<%=new Date().getTime()%>">');
            document.write('<link rel="stylesheet"  href="http://7xi34i.com1.z0.glb.clouddn.com/swiper_q.min.css?<%=new Date().getTime()%>">');
        }
        var _openId = '<%=openId%>';
        if (window.localStorage) {
            window.localStorage.setItem('openId', '<%=openId%>');
            var _v = window.localStorage.getItem('openId');
            if (!_v && _v != 'underfied') {
                window.localStorage.setItem('openId', '<%=openId%>');
            }
        }
        var hrefLocation=location.href;
    </script>

    <script src="js/swiper.min.js?<%= new Date().getTime() %>" type="text/javascript"></script>
    <script src="js/underscore.js?<%= new Date().getTime() %>" type="text/javascript"></script>
    <script src="js/common.js?<%= new Date().getTime() %>" type="text/javascript"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body class="loginwe">
<div class="newpage">
    <div class="newpage_q"></div>
</div>
<div class="bj"></div>
<div class="longin" style="font-size: 15px;width: 80%">欢迎使用XX食材
    <br><span style="font-size: 13px">第一次登录该系统，请输入你的用户名</span></div>
<form action="/loginModifyName" method="get">
    <div class="longinq">
        <input class="form-control" placeholder="用户名" id="userName" name="userName" type="text">
        <input name="openId" value="<%=openId%>" type="hidden">
        <input type="submit" class="" value="确定提交" style = "margin-top: 20px; width: 100%; border-radius: 20px; border: none; background-color: #2ECC71;outline: none;">
    </div>
</form>
<div style="width: 60%;background-color: rgba(0,0,0,0.5);border-radius: 5px;height: 20px;position: fixed;"
</body>
<script>
    var hei = document.querySelectorAll(".bj")[0]
    pingpu(hei)
</script>

</html>