<% include template.ejs %>
<div class="add_tem">
    <div class="add_w">
        <a class="add_w_w_q" style="moz-user-select: -moz-none;
-moz-user-select: none;
-o-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;" href="javascript:templateConfirm()">
            下一步
        </a>
    </div>
</div>
<script type="text/javascript">

    var hei = document.querySelectorAll(".add_tem")[0]
    guding(hei, 100)

    //添加模版确认
    function templateConfirm() {

        var url = '/template_Confirm';
        var data = {
            selectMaterial: JSON.stringify(materialTemp.getSelectArray())
        }
        pageLoadPost(url, data, '添加模版', false, 'post');
    }


</script>

