<!DOCTYPE html>
<html>
<head>
    <% include template/head.ejs %>
</head>
<body>
<div id="wrapper">
    <% include template/menu.ejs %>

    <div id="page-wrapper" class="gray-bg dashbard-1">
        <% include template/nav.ejs %>
        <div class="row  border-bottom white-bg dashboard-header">
            <div class="col-sm-12">
                <div class="row">

                </div>
                <div class="row">
                    <div class="ibox float-e-margins">
                        <form class="form-inline" action="/data2Excel" method="post">
                            <span id="errorSup"
                                  style="color: #aa1111; float: left; margin-top: -20px;margin-bottom: 13px">请选择供应商或餐厅</span>

                            <div class="col-sm-12">

                                <div class="checkbox m-l m-r-xs"></div>
                                <div style="clear: both"></div>
                                <div class="col-sm-4" id="data_1">
                                    <label class="col-sm-4" style="padding: 0;margin-top: 7px;">起始日期</label>

                                    <div class="input-group date col-sm-8">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input
                                                id="startdate" name='startDate' type="text" class="form-control">
                                    </div>
                                    <div style=" margin-left: 54px; "><span id="errStarDate" style="color: #aa1111">请输入起始日期</span>
                                    </div>

                                </div>
                                <div class="col-sm-4" id="data_1">
                                    <label class="col-sm-4" style="padding: 0;margin-top: 7px;">截止日期</label>

                                    <div class="input-group date col-sm-8">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input
                                                id="enddate" name='endDate' type="text" class="form-control">
                                    </div>
                                    <div style=" margin-left: 54px; "><span id="errEndDate" style="color: #aa1111">请输入截止日期</span>
                                    </div>
                                </div>
                                <button class="btn btn-danger" type="button" onclick="getItemByPageIdx(0)">查询</button>
                                <button class="btn btn-danger" id='sumbit' type="submit">打印清单</button>
                                <!--<a class="btn btn-danger" id='sumbit' href="/data2Excel">打印清单</a>-->
                            </div>
                            <br/>
                            <br/>

                            <div class="ibox-content" id="itemColl">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include template/footer.ejs %>
</body>
<script>
    var currentIdx = 0;
    $(document).ready(function () {
        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });
        $('#errorSup').hide();
        $('#errEndDate').hide();
        $('#errStarDate').hide();
    });


    function getItemByPageIdx(currentIdx) {

        var startDate = $('#startdate').val();
        var endDate = $('#enddate').val();
        var orderStatus ="N";
        if (startDate.length < 1) {
            $('#errStarDate').text('请输入开始时间时间');
            $('#errStarDate').show();
            return;

        } else if (endDate.length < 1) {
            $('#errEndDate').text('请输入截至时间');
            $('#errEndDate').show();
            return;
        } else if (endDate < startDate) {
            $('#errEndDate').text('截至时间不能小于开始时间');
            $('#errEndDate').show();
            return;
        } else {
            $('#errEndDate').hide();
            $('#errStarDate').hide();
            var numberForPage = 10, pageCount = 0;
            $("#itemColl").html('');

            $.post("/getOrderItemTotal", {
                pEndDate: endDate,
                pStartDate: startDate,
                orderStatus: orderStatus
            }, function (respObj) {
                if (!currentIdx) {
                    currentIdx = 0;

                }
                data = respObj.materialsItemList;
                thdata=respObj.restruantlist;
                currentIdx = parseInt(currentIdx)
                var nextPageIdx = currentIdx + 1;
                var prevPageIdx = currentIdx - 1;
                var startIdx = numberForPage * currentIdx;
                var pageIdx = parseInt(currentIdx) + 1;
                var endIdx = numberForPage * (currentIdx + 1) - 1;
                var seq = 0, result = "", totalAmt = 0;
                var paidIn_totalAmt = 0;

                result += '<table class="table">';
                result += '<thead>';
                result += '<tr>';
                result += '<th>#</th>';
                result += '<th>食材</th>';
                result += '<th>单位</th>';
                result += '<th>备注</th>';
                for(var thi=0;thi<thdata.length;thi++)
                {
                    result += '<th>'+thdata[thi].restruantName+'<br>(数量/单价/总价)</th>';
                }
                result += '<th>总计</th>';
                result += '</tr>';
                result += '</thead>';
                result += '<tbody>';
                for (var i = 0; i < numberForPage && i + startIdx < data.length; i++) {
                    pageCount = data.length / numberForPage;
                    seq++
                    var obj = data[i + startIdx];

                    result += '<tr>';
                    result += '<td>' + seq + '</td>';
                    result += '<td>' + obj.materialName + '</td>';
                    result += '<td>' + obj.unit + '</td>';
                    result += '<td>' + obj.remark + '</td>';
                    for(var tri=0;tri<thdata.length;tri++)
                    {
                        var hasmatch=false;
                        for(var itemi=0;itemi<obj.restruants.length;itemi++)
                        {
                            if(obj.restruants[itemi].restruantId==thdata[tri].restruantId)
                            {
                                result += '<td>' + obj.restruants[itemi].number+"/"+obj.restruants[itemi].price+"/"+obj.restruants[itemi].sum + '</td>';
                                hasmatch=true;
                                break;
                            }
                        }
                        if(!hasmatch)
                        {
                            result += '<td>0/0.00/0.00</td>';
                        }
                    }
                    result += '<td>' + obj.totalnumber+"/"+obj.totalprice+"/"+obj.totalsum + '</td>';
                    result += '</tr>';
                }
                result += '</tbody>'
                result += '</table>'

                result += '<a href="javascript:getItemByPageIdx(0)" class="pagination-q" style="width:4rem">首页</a>';
                if (currentIdx > 0) {
                    result += '<a href="javascript:getItemByPageIdx(\'' + prevPageIdx + '\')" class="pagination-q">上一页</a>'
                }
                result += '<span style="float: left; line-height: 28px;padding: 0 0.5rem"> 第' + pageIdx + '页 </span>'
                if (nextPageIdx < pageCount) {

                    result += '<a href="javascript:getItemByPageIdx(\'' + nextPageIdx + '\')" class="pagination-q">下一页</a>';
                }
                result += '<span style="float: left; line-height: 28px;">... 共有' + Math.ceil(pageCount) + '页';
//                result += '<span>跳转到</span>';
//                result += '<input id="pageSkippedTo" type="Number" min="1" style="width:4rem; height:28px;"/>';
//                result += '<span>页</span>';
//                result += '<a class="btn btn-default" href="javascript:getItemByPageIdx(\"' + currentIdx + '\")" role="button" style="float:right;height:28px;">';
//                result += '<span style="position: relative; top: -8px;">go</span></a>';

                $('#itemColl').append(result);
            });

        }
    }

    $('#sumbit').click(function () {
//        var dateArr=$("input[name$='Date']");
        var data = $('#supName').val();
        var startDate = $('#startdate').val();
        var endDate = $('#enddate').val();
        if (data && data.length < 1) {
            $('#error').show();
//            event.preventDefault();
            return false;
        } else if (startDate.length < 1) {

            $('#errStarDate').show();
            return false;

        } else if (endDate.length < 1) {
            $('#errEndDate').show();
            return false;


        } else {
            $('form').submit();
//        $.get("/data2Excel", {supName:data,pEndDate:endDate,pStartDate:startDate}) ;
        }
    });
</script>
</html>
