<!DOCTYPE html>
<html>
<head>
<%include template/head.ejs%>
</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">H+</h1>

            </div>
            <h3>餐厅供应系统后台</h3>
            <p>请修改密码</p>
            <form class="m-t" role="form" action="/resetPwd" method="post">
                <div class="form-group">
                    <input  class="form-control" onblur="validate()" value=<%=userInfo.userName%> readOnly=true name="userName">
                    <span id="uerror" style=" color:red;margin-top: -26px;
    float: right;
    margin-right: 5px;
">请输入用户名</span>

                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码" name="passWord">
                        <span id="perror" style=" color:red;margin-top: -26px;
    float: right;
    margin-right: 5px;
">请输入新密码</span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="确认密码" name="secpassWord">
                        <span id="rerror" style=" color:red;margin-top: -26px;
    float: right;
    margin-right: 5px;
">请再次输入密码</span>
                </div>
                <button type="button" onclick="validate(this)" class="btn btn-primary block full-width m-b">确认修改</button>

                <!--<a href="/resetPassord" style="text-align: left"><small>修改密码</small></a>-->
                <!--<p class="text-muted text-center"><small>Do not have an account?</small></p>-->
                <!--<a class="btn btn-sm btn-white btn-block" href="#">Create an account</a>-->
            </form>
        </div>
    </div>
    <!-- Mainly scripts -->
    <%include template/footer.ejs%>
</body>
<script>

    $(document).ready(function(){
        $('#uerror').hide();
        $('#perror').hide();
        $('#rerror').hide();

    });
    function validate(){

        var userName=$("[name='userName']").val();
        var password=$("[name='passWord']").val();
        var rePassword=$("[name='secpassWord']").val();
        if(userName&&userName.length<1){
            $('#uerror').show();
            return false;
        }else if(password.length<1){
            $('#perror').show();
            return false;
        }else if(rePassword.length<1){
            $('#rerror').show();
            return false;
        }else if(password!=rePassword){
            $('#rerror').html('两次输入密码不一致');

            $('#rerror').show();
            return false;
        }else{
            $('form').submit();
        }




    }

</script>


</html>
