
<body class="choose">

<div style="margin-top: 30px"></div>
<a href="javascript:pageLoad('/myTempalteRead')">
    <div class="chooseq" >
        <img src="images/choose_copy_4.png"><br>选择现有模版
    </div>
</a>
<a href="javascript:pageLoad('/toAddtemplate02')">
    <div class="choosew">
        <img src="images/choose_copu_4_q.png"><br>生成新询价单
    </div>
</a>
</body>

