<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">


</head>
<body class="loginwe">
<div class="newpage">
    <div class="newpage_q">

    </div>
</div>

<div class="longin" style="color:#000;padding-top: 5px !important;">添加新的食材
</div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入名称" id="itemNameId" name="itemName" type="text">
    </div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入单价" id="itemPriceId" name="itemPrice" type="text">
    </div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入数量" id="itemNumberId" name="itemNumber" type="text">
    </div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入单位" id="itemUnitId" name="itemUnit" type="text">
    </div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入备注" id="itemMemoId" name="itemMemo" type="text">
</div>
<div>
    <div class="add_w" style="margin-bottom: 5px !important;">
        <a class="add_w_w_q" onclick="addOfferSheetItem('<%=offerSheetId%>','<%=supplyName%>')">确定</a>
    </div>
    <div class="add_w" style="margin-bottom: 5px !important;">
        <a class="add_w_w_q" onclick="history.go(-1);">取消</a>
    </div>
</div>
</body>
<script>
    //添加订单的临时项目
    //by osy
    function addOfferSheetItem(id,name) {
        var orderItem=JSON.parse('<%-orderItem%>');
        //var orderItem='<%-orderItem%>';
        var offerSheetId = id;
        var supplyName = name;
        //alert(id);return;
        var itemName = document.getElementById('itemNameId').value;
        var itemPrice = document.getElementById('itemPriceId').value;
        var itemNumber = document.getElementById('itemNumberId').value;
        var itemUnit = document.getElementById('itemUnitId').value;
        var itemMemo = document.getElementById('itemMemoId').value;
        var re = /^[0-9]+.?[0-9]*$/;   //判断字符串是否为数字     //判断正整数 /^[1-9]+[0-9]*]*$/
        if (itemPrice.lenght>0 && !re.test(itemPrice))
        {
            alert("请输入数字");
            //document.getElementById('itemPriceId').value="";
            return false;
        }else{
            itemPrice="0.00";
        }
        if (!re.test(itemNumber))
        {
            alert("请输入数字");
            //document.getElementById('itemNumberId').value="";
            return false;
        }
        var offerSheetItemData = {
            openId: _openId,
            offerSheetId:offerSheetId,
            //supplyName:supplyName,
            itemName: itemName,
            itemPrice: itemPrice,
            itemNumber: itemNumber,
            itemUnit: itemUnit,
            itemMemo: itemMemo
        };

        //alert(JSON.stringify(offerSheetItemData));return;
        $.post("/offerSheetNewMaterial", offerSheetItemData, function (data) {
            var code = data.code;
            if (code == 100) {
                //待验
                alert("添加成功");
                orderItem.push({materialId:data.mid,number:itemNumber});
                //window.location.href = "/resIndex?openId=" + _openId;
                pageLoadPost('/qryOfferSheetById?offerSheetId='+offerSheetId+'&supplyName='+supplyName,
                        {
                            orderItem:JSON.stringify(orderItem)
                        },"",false,'post');
            } else{
                alert("添加失败");
            }
        });
    }

</script>
</html>