<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">


</head>
<body class="loginwe">
<div class="newpage">
    <div class="newpage_q">

    </div>
</div>

<div class="longin" style="color:#000;padding-top: 5px !important;">添加新的食材
</div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入名称" id="itemNameId" name="itemName" type="text">
    </div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入单价" id="itemPriceId" name="itemPrice" type="text">
    </div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入数量" id="itemNumberId" name="itemNumber" type="text">
    </div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入单位" id="itemUnitId" name="itemUnit" type="text">
    </div>
    <div class="longinq" style="margin-bottom: 20px; margin-top: 10px;">
        <input class="form-control" style="color:#000;" placeholder="请输入备注" id="itemMemoId" name="itemMemo" type="text">
</div>
<div>
    <div class="add_w" style="margin-bottom: 5px !important;">
        <a class="add_w_w_q" onclick="addOfferSheetItem('<%=offerSheetId%>','<%=supplyName%>')">确定</a>
    </div>
    <div class="add_w" style="margin-bottom: 5px !important;">
        <a class="add_w_w_q" onclick="history.go(-1);">取消</a>
    </div>
</div>
</body>
<script>
    //document.title="xxxx平台系统登录";
</script>
</html>