
<div class="newpage">
    <div class="newpage_q">
    </div>
</div>
<div class="fendian">
</div>
<ul class="add_q new_add_q_w" style="margin-top: 20px;display: none">
    <li>
        <label class="add_q_q" for="nameq">
            餐厅名称:
        </label>
        <div class="add_q_w new_add_q_w">
            <input class="form-control" id="nameq" name="name" placeholder="请输入您的餐厅名称" type="text">
        </div>
    </li>
    <li>
        <label class="add_q_q" for="headerq">
            联系人：
        </label>
        <div class="add_q_w">
            <input class="form-control" id="headerq" name="header" placeholder="请输入联系人姓名" type="text">
        </div>
    </li>
    <li>
        <label class="add_q_q" for="telephoneq">
            联系电话：
        </label>
        <div class="add_q_w">
            <input class="form-control inputBlue" id="telephoneq" name="telephone" placeholder="请输入联系人电话" type="text">
        </div>
    </li>
    <li>
        <label class="add_q_q" for="qwqw">
            区域：
        </label>
        <div class="add_q_w">
            <label class="form-control" id="qwqw">上海</label>
            <!--<input class="form-control" id="qwqw" name="area" placeholder="请输入餐厅所在区域城市" type="text">-->
        </div>
    </li>
    <li>
        <label class="add_q_q" for="addressq">
            配送地址：
        </label>
        <div class="add_q_w">
            <input class="form-control" id="addressq" name="address" placeholder="请输入餐厅所在区域城市" type="text">
        </div>
    </li>
</ul>
<div class="add_w new_add_w">
    <div class="add_w_q icon icon-add">
    </div>
    <a class="add_w_w">
        添加分餐厅信息
    </a>
</div>
<a id="nextStep" href="javascript:pageLoad('/queryMechanismByuser?type=1')">
    <div class="nextStep"
         style="position: fixed;bottom: 15px;right: 15px;text-align: center; line-height: 30px; width: 74px; height: 30px; border-radius:15px; border: 1px solid #3498db; color: #3498db">
        返回
    </div>
</a>
<script>
    var hei = parseFloat(document.documentElement.clientHeight) - 100
    document.querySelectorAll(".nextStep")[0].style.top = hei + "px"

    var addw = document.querySelectorAll(".add_w")
    for (var a = 0; a < addw.length; a++) {
        addw[a].onclick = function () {
            if (this.className == "add_w new_add_w") {
                if (document.querySelectorAll(".new_add_q_w")[0].style.display == "block") {

                    if (document.getElementById('nameq').value == '') {
                        alert('请添加餐厅名称！')
                        return false;
                    }
                    if (document.getElementById('nameq').value.indexOf('\'') > -1 || document.getElementById('nameq').value.indexOf('\"') > -1) {
                        alert('餐厅名不能包含非法字符！');
                        return false;
                    }
                    if (document.getElementById('headerq').value == '') {
                        alert('请添加联系人姓名！')
                        return false;
                    }
                    if (document.getElementById('headerq').value.indexOf('\'') > -1 || document.getElementById('headerq').value.indexOf('\"') > -1) {
                        alert('餐厅联系人名不能包含非法字符！');
                        return false;
                    }
                    if (document.getElementById('telephoneq').value == '') {
                        alert('请添加联系电话！')
                        return false;
                    }
                    if (!/^(1[0-9])\d{9}$/.test(document.getElementById('telephoneq').value)) {
                        alert("请填写正确的手机号码");
                        return false;
                    }
                    if (document.getElementById('addressq').value == '') {
                        alert('请添加配送地址！')
                        return false;
                    }
                    if (document.getElementById('addressq').value.indexOf('\'') > -1 || document.getElementById('addressq').value.indexOf('\"') > -1) {
                        alert('配送地址不能包含非法字符！');
                        return false;
                    }
                    if (document.getElementById('qwqw').innerText == '') {
                        alert('请添加所在区域！')
                        return false;
                    }
                    var name = document.getElementById('nameq').value
                    var header = document.getElementById('headerq').value
                    var telephone = document.getElementById('telephoneq').value
                    var address = document.getElementById('addressq').value
                    var area = document.getElementById('qwqw').innerText
                    $.post('/addChainRest', {
                        name: name,
                        header: header,
                        telephone: telephone,
                        address: address,
                        area: area
                    }, function (data) {
                        if (data.code == 100) {
                            var di = document.createElement('div');
                            var htm = '<div class="zhangkai" style="height: 40px;line-height: 40px;padding: 0 15px;border-bottom:1px solid #979797 ">'
                            htm += document.getElementById('nameq').value + '<span class="icon icon-unfold-more" style="float: right;height: 40px;line-height: 40px;"></span>'
                            htm += '</div>'
                            htm += '<div class="new_add_q_e" style="display: none">'
                            htm += '<ul class="add_q" style="border-bottom: 1px solid #979797">'
                            htm += '<li>'
                            htm += '<label class="add_q_q" for="name">'
                            htm += '餐厅名称:'
                            htm += '</label>'
                            htm += '<div class="add_q_w" style="color: #333;font-size: 13px">'
                            htm += document.getElementById('nameq').value
                            htm += '</div>'
                            htm += '</li>'
                            htm += '<li>'
                            htm += '<label class="add_q_q" for="header">'
                            htm += '联系人：'
                            htm += '</label>'
                            htm += '<div class="add_q_w" style="color: #333;font-size: 13px">'
                            htm += document.getElementById('headerq').value
                            htm += '</div>'
                            htm += '</li>'
                            htm += '<li>'
                            htm += ' <label class="add_q_q" for="telephone">'
                            htm += ' 联系电话：'
                            htm += '</label>'
                            htm += '<div class="add_q_w" style="color: #333;font-size: 13px">'
                            htm += document.getElementById('telephoneq').value
                            htm += '</div>'
                            htm += '</li>'
                            htm += '<li>'
                            htm += '<label class="add_q_q" for="address">'
                            htm += '区域：'
                            htm += '</label>'
                            htm += '<div class="add_q_w" style="color: #333;font-size: 13px">'
                            htm += document.getElementById('qwqw').innerText
                            htm += '</div>'
                            htm += '</li>'
                            htm += '<li>'
                            htm += '<label class="add_q_q" for="address">'
                            htm += '地址：'
                            htm += '</label>'
                            htm += '<div class="add_q_w" style="color: #333;font-size: 13px">'
                            htm += document.getElementById('addressq').value
                            htm += '</div>'
                            htm += '</li>'
                            htm += '</ul>'
                            htm += '</div>'
                            di.innerHTML = htm
                            document.querySelectorAll(".fendian")[0].appendChild(di)
                            zhankai()
                            shousuo()
                            document.getElementById('nameq').value = ''
                            document.getElementById('headerq').value = ''
                            document.getElementById('telephoneq').value = ''
                            document.getElementById('addressq').value = ''

                        } else if (data.code == 102) {
                            alert('请添加主餐厅')
                        } else if (data.code == 500) {
                            alert("后台错误")
                        }
                    })


                } else {
                    shousuo()
                    document.querySelectorAll(".new_add_q_w")[0].style.display = "block"
                    document.querySelectorAll(".new_add_q_q")[0].style.display = "none"
                }
            } else {
                if (document.querySelectorAll(".new_add_q_q")[0].style.display == "block") {

                    if (document.getElementById('name').value == '') {
                        alert('请添加餐厅名称！')
                        return false;
                    }
                    if (document.getElementById('name').value.indexOf('\'') > -1 || document.getElementById('name').value.indexOf('\"') > -1) {
                        alert('餐厅名不能包含非法字符！');
                        return false;
                    }
                    if (document.getElementById('header').value == '') {
                        alert('请添加联系人姓名！')
                        return false;
                    }
                    if (document.getElementById('header').value.indexOf('\'') > -1 || document.getElementById('header').value.indexOf('\"') > -1) {
                        alert('联系人不能包含非法字符！');
                        return false;
                    }
                    if (document.getElementById('telephone').value == '') {
                        alert('请添加联系电话！')
                        return false;
                    }
                    if (!/^(1[0-9])\d{9}$/.test(document.getElementById('telephone').value)) {
                        alert("请填写正确的手机号码");
                        return false;
                    }
                    if (document.getElementById('address').value == '') {
                        alert('请添加配送地址！')
                        return false;
                    }
                    if (document.getElementById('address').value.indexOf('\'') > -1 || document.getElementById('address').value.indexOf('\"') > -1) {
                        alert('配送地址不能包含非法字符！');
                        return false;
                    }
                    if (document.getElementById('area').value == '') {
                        alert('请添加所在区域！')
                        return false;
                    }
                    addResturant()
                } else {
                    shousuo()
                    document.querySelectorAll(".new_add_q_w")[0].style.display = "none"
                    document.querySelectorAll(".new_add_q_q")[0].style.display = "block"
                }
            }
        }
    }

    zhankai()
    function zhankai() {
        var zhangkai = document.querySelectorAll(".zhangkai");
        for (var a = 0; a < zhangkai.length; a++) {
            zhangkai[a].onclick = function () {
                if (this.nextElementSibling.style.display == "block") {
                    shousuo()
                    this.querySelectorAll("span")[0].className = "icon icon-unfold-more"

                } else {
                    shousuo()
                    this.nextElementSibling.style.display = "block"
                    this.querySelectorAll("span")[0].className = "icon icon-unfold-less"

                }
            }
        }
    }
    function shousuo() {
        var new_add_q_e = document.querySelectorAll(".new_add_q_e");
        var icon = document.querySelector(".icon")
        for (var a = 0; a < new_add_q_e.length; a++) {
            new_add_q_e[a].style.display = "none"
        }
        for (var a = 0; a < icon.length; a++) {
            icon[a].className = 'icon icon-unfold-more'
        }
    }
</script>
