<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">
    <% include ../common/head.ejs %>
<div class="newpage">
    <div class="newpage_q">
    </div>
</div>
<body class="choose">
<div class="chooseq">
    <img src="images/check.png" onclick="create()"><br>创建餐厅
</div>
</body>
</html>