<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">
    <% include ../common/head.ejs %>
</head>
<div class="newpage">
    <div class="newpage_q">

    </div>
</div>
<body class="choose">
<div class="chooseq">
    <img src="images/check.png" onclick="create()"><br>创建供货商单位
</div>
</body>
</html>