<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">
    <% include ../common/head.ejs %>
</head>
<div class="newpage">
    <div class="newpage_q">

    </div>
</div>
<body class="choose">
<div class="newpage">
    <div class="newpage_q">

    </div>
</div>
<a href="/use?openId=<%= openId %>">
    <div class="chooseq">
        <img src="images/choose_new_q.png"><br>免费使用
    </div>
</a>
<a href="/look?openId=<%= openId %>">
    <div class="choosew">
        <img src="images/choose_new_w.png"><br>随便看看
    </div>
</a>
</body>
</html>