<!DOCTYPE html>
<html style="height: 100%">
<head lang="en">

    <% include ../common/head.ejs %>
</head>
<body class="loginwe">
<div class="newpage">
    <div class="newpage_q">

    </div>
</div>
<div class="bj">

</div>

<div class="longin">欢迎使用XX食材<br>
    供应系统
</div>
    <div class="longinq">
        <input class="form-control" placeholder="用户名" id="userName" name="userName" type="text">
    </div>
    <div class="longinq" style="margin-top: 20px">
        <input class="form-control" placeholder="密码" id="password" name="password" type="password">
    </div>
    <div class="add_w">
        <a class="add_w_w_q" onclick="login()">登录</a>
    </div>
<div>
    <div class="longinw">
        <a  style="color: #FFFFFF" href="ul_ol.htm" onclick="lostpassword()">忘记密码</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a  style="color: #FFFFFF" href="/register">快速注册</a>
    </div>
    <div class="longine">
        第三方登陆<br>
        <img src="images/wx.png" onclick="login()">&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</div>
</body>
<script>
    document.title="xxxx平台系统登录";
</script>
</html>